body {
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: 'Cookie', cursive;
    color: goldenrod;
    text-shadow: 1px 1px 1px #fbff00;
    font-size: 3rem;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

#frame1, #frame2 {
    position: relative;
}

.frame-image{
    height: 650px;
    width: 650px;
}

#art1, #art2 {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 600px;
    height: 600px;
    background-color: white;
    display: grid;  
}

#trash1, #trash2 {
    height: 3.5rem;
    width: 3rem;    
}

 #trash1 {
     position: absolute;
     transform: translateX(-1350%) translateY(1155%);   
 }

 #trash2 {
    position: absolute;
    transform: translateX(-100%) translateY(1155%);
 }

 #ribbon1, #ribbon2 {
     height: 10rem;
     width: 7rem;
 }

 #ribbon1 {
     position: absolute;
     transform: translateX(-80%) translateY(330%);
 }

 #ribbon2 {
     position: absolute;
     transform: translateX(-600%) translateY(330%);
 }

 #zzz {
     width: 7rem;
     height: 6rem;
     padding-left: 6rem;  
 }

 #hole {
     width: 10rem;
     height: 4rem;
     border-radius: 50%;
     background-color: black;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 3rem;
 }

 .gopher-static, .gopher-animate {
     width: 15rem;
     height: 9rem;
     transform: translateX(.8rem) translateY(2rem);
 }

 .gopher-animate {
    animation: 3s popup;
 }

 @keyframes popup {
     from {
         height: 0;
     }

     25% {
         height: 2rem;
     }

     50% {
         height: 4rem;
     }

     75% {
         height: 6rem;
     }

     to {
         height: 9rem;
     }
 }

 .hide {
     display: none;
 }

 #home {
     position:fixed;
     bottom: 2rem;
     left: 1rem;
     height: 3rem;
     width: 8rem;
     line-height: 3rem;
     padding: .5rem;
     text-decoration: none;
     font-size: 1.5rem;
     font-family: "Gill Sans", sans-serif;
     background-color: white;
     color: rgb(247, 172, 184);
     border: solid;
     border-color: rgb(209, 123, 159);
     border-radius: 5px;
 }